# =================================================================
# General
# =================================================================
.DS_Store
*.log
*.swo
*.swp
*.env

# =================================================================
# Python
# =================================================================
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribution / packaging
build/
dist/
downloads/
eggs/
.eggs/
*.egg-info/
*.egg

# Environments
.venv/
env/
venv/
ENV/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml

# IDE / Editor
.vscode/
.idea/

# =================================================================
# Project Specific
# =================================================================

# Frontend
/frontend/node_modules/
/frontend/build/

# tranad
/tranad/data/
/tranad/processed/
/tranad/plots/
/tranad/checkpoints/

*.ckpt
*.onnx

# Triton 모델 파일 (용량이 크므로 Git 제외)
onnx/*/1/*.onnx
tensorrt/*/1/*.plan
pytorch/*/1/*.pt
python/*/1/__pycache__/

# 임시 파일
*.pyc
__pycache__/
.DS_Store

CLAUDE.md
GEMINI.md
.claude